In [ ]:
# !pip install psycopg2-binary
# !pip install sqlalchemy

In [1]:
import psycopg2
from sqlalchemy import create_engine, MetaData, Table
# from sqlalchemy import text
import numpy as np
import pandas as pd

### Connecting to PostgreSQL database using `psycopg2`

In [2]:
# conn = psycopg2.connect(
#     host="pg-technical-assessment-v2.cvqh5ju3daog.us-east-1.rds.amazonaws.com",
#     port=5432,
#     dbname="postgres",
#     user="postgres",
#     password="xjcFvv8iy2WRR3H"
# )

# def execute_query(query, conn = conn):
#     cur = conn.cursor()
#     cur.execute(query)
#     rows = cur.fetchall()
#     cur.close()
#     return rows

### Connecting to PostgreSQL database using `sqlalchemy`

In [3]:
# connect to PostgreSQL database
pg_engine = create_engine('postgresql://postgres:xjcFvv8iy2WRR3H@pg-technical-assessment-v2.cvqh5ju3daog.us-east-1.rds.amazonaws.com:5432/postgres')


# reflect structure of PostgreSQL database
metadata = MetaData()
metadata.reflect(bind=pg_engine)

# query data from PostgreSQL
with pg_engine.connect() as conn:
    for table_name in metadata.tables.keys():
        table = Table(table_name, metadata, autoload=True, autoload_with=pg_engine)
        data = conn.execute(table.select()).fetchall()
        data_df = pd.DataFrame(data)
        data_df.to_csv(f'{table_name}.csv')

### Migrating PostgreSQL database to SQLite using `sqlalchemy` (NOT WORKING)

In [4]:
# from sqlalchemy import create_engine, MetaData, Table

# # connect to PostgreSQL database
# pg_engine = create_engine('postgresql://postgres:xjcFvv8iy2WRR3H@pg-technical-assessment-v2.cvqh5ju3daog.us-east-1.rds.amazonaws.com:5432/postgres')

# # connect to SQLite database
# sqlite_engine = create_engine('sqlite:///orders.db')

# # reflect structure of PostgreSQL database
# metadata = MetaData()
# metadata.reflect(bind=pg_engine)

# # create tables in SQLite database
# metadata.create_all(bind=sqlite_engine)

# # query data from PostgreSQL and insert into SQLite
# conn = pg_engine.connect()
# for table_name in metadata.tables.keys():
#     table = Table(table_name, metadata, autoload=True, autoload_with=pg_engine)
#     data = conn.execute(table.select()).fetchall()
#     data_df = pd.DataFrame(data)
#     data_df = data_df.astype(str)
#     data = list(data_df.itertuples(index=False, name=None)) # convert each row to a tuple
            
#     with sqlite_engine.connect() as sqlite_conn:
#         sqlite_conn.execute(table.insert().values(data))
# conn.close()

### Creating `orders` SQLite database

In [5]:
import sqlite3
import csv

# connect to SQLite database
conn = sqlite3.connect('orders.db')

# create table
conn.execute('''CREATE TABLE IF NOT EXISTS orders
             (id INTEGER PRIMARY KEY,
              created_at TEXT,
              fulfilled_at TEXT,
              ontime INTEGER,
              total_discounts REAL,
              customer_id INTEGER,
              tags TEXT,
              amount_refunded REAL,
              membership_type TEXT,
              product_type TEXT,
              source TEXT,
              source_id TEXT,
              product_amount REAL,
              product_refund_amount REAL,
              product_amount_post_refund REAL,
              membership_amount REAL,
              membership_refund_amount REAL,
              membership_disputed_amount REAL,
              membership_amount_post_refund REAL,
              num_memberships INTEGER,
              membership_recurrence TEXT,
              test INTEGER);''')

# read data from csv file and insert into table
with open('orders.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # skip header row
    for row in reader:
        conn.execute('''INSERT INTO orders (id, created_at, fulfilled_at, ontime, total_discounts, customer_id, tags,
                                             amount_refunded, membership_type, product_type, source, source_id,
                                             product_amount, product_refund_amount, product_amount_post_refund,
                                             membership_amount, membership_refund_amount, membership_disputed_amount,
                                             membership_amount_post_refund, num_memberships, membership_recurrence, test)
                        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);''',
                     (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9],
                      row[10], row[11], row[12], row[13], row[14], row[15], row[16], row[17], row[18],
                      row[19], row[20], row[21]))
        
# commit changes and close connection
conn.commit()
conn.close()

In [6]:
import sqlite3
import csv

# connect to SQLite database
conn = sqlite3.connect('orders.db')

# create table
conn.execute('''CREATE TABLE IF NOT EXISTS orders_line_items
             (order_id INTEGER,
              line_item_id INTEGER,
              created_at TEXT,
              customer_id INTEGER,
              sku TEXT,
              product TEXT,
              product_type TEXT,
              quantity INTEGER,
              price REAL,
              total_discount REAL);''')

# read data from csv file and insert into table
with open('orders_line_items.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # skip header row
    for row in reader:
        conn.execute('''INSERT INTO orders_line_items (order_id, line_item_id, created_at, customer_id, sku, product, product_type,
                                                quantity, price, total_discount)
                        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?);''',
                     (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9]))
        
# commit changes and close connection
conn.commit()
conn.close()

In [7]:
import sqlite3
import pandas as pd

with sqlite3.connect('orders.db') as conn:
    c = conn.cursor()
    c.execute("SELECT * FROM orders;")
    rows = c.fetchall()
    orders_df = pd.DataFrame(rows)
    
print(f"orders_df shape: {orders_df.shape}")
orders_df.head()

orders_df shape: (297348, 22)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0,169464,2020-08-21 11:59:00,2020-08-26 05:07:00,not ontime,15.00,3530000000000,"app_membership_with_trial, member, subscriptio...",0.0,N/A,...,2400000000000.0,37.97,0.0,37.97,0.0,0.0,0.0,0,0.0,New
1,1,169480,2019-12-13 00:44:00,2019-12-14 14:55:00,not ontime,20.22,685000000000,"102919 purchased last 3 months, indiegogo18, l...",0.0,N/A,...,1910000000000.0,26.0,0.0,26.0,0.0,0.0,0.0,0,0.0,New
2,2,169496,2019-09-30 17:53:00,2019-10-02 13:00:00,not ontime,10.00,685000000000,"102919 purchased last 3 months, indiegogo18, l...",0.0,N/A,...,1710000000000.0,45.0,0.0,45.0,0.0,0.0,0.0,0,0.0,New
3,3,169512,2019-12-03 00:49:00,2019-12-09 19:04:00,not ontime,10.00,685000000000,"102919 purchased last 3 months, indiegogo18, l...",0.0,N/A,...,1900000000000.0,10.98,0.0,10.98,0.0,0.0,0.0,0,0.0,New
4,4,169528,2019-02-25 10:39:00,2019-02-27 18:58:00,not ontime,0.00,685000000000,"102919 purchased last 3 months, indiegogo18, l...",0.0,N/A,...,764000000000.0,27.0,0.0,27.0,0.0,0.0,0.0,0,0.0,New

In [9]:
with sqlite3.connect('orders.db') as conn:
    c = conn.cursor()
    c.execute("SELECT * FROM orders_line_items;")
    rows = c.fetchall()
    orders_line_items_df = pd.DataFrame(rows)
    
print(f"orders_line_items_df shape: {orders_line_items_df.shape}")
orders_line_items_df.head()

orders_line_items_df shape: (2410352, 10)

,0,1,2,3,4,5,6,7,8,9
0,0,2424224317578,5320157298826,2020-09-20 11:10:59,7147376071,020-030-018-201,Eucalyptus Essential Oil (includes Dropper),Household,1.0,6.50
1,1,2427254046858,5327164178570,2020-09-24 08:22:17,3550585159818,030-085-006-011,Garlic Powder,Food,1.0,4.00
2,2,2427254046858,5327164506250,2020-09-24 08:22:17,3550585159818,030-050-005-011,Spicy Sesame Oil Ramen,Food,2.0,9.75
3,3,2426820755594,5326196244618,2020-09-23 18:47:30,738398502963,020-020-012-011,Dishwasher Detergent Pods,Household,2.0,6.95
4,4,2424526536842,5320823668874,2020-09-20 19:42:15,3553021132938,010-101-021-011,Ayate Washcloth,Personal Care,1.0,6.00